@charset "UTF-8";

::-webkit-scrollbar {
    width: 0px;
    height: 0px;
}

:root {
    --cor01: #89ec4b;
}

body {
    font-family: Arial, Helvetica, sans-serif;
    text-align: center;
}

div {
    overflow-x: auto;
}

table {
    font-size: 0.8em;
    border-collapse: collapse;
    width: 700px;
    position: relative;
    display: block;
    margin: auto;
    text-align: center;
}

col#primeira {
    width: 100px;
}

caption {
    background-color: white;
    padding: 8px;
    font-weight: bold;
    border-top: 1px solid black;
    border-left: 1px solid black;
    border-right: 1px solid black;
}

thead > tr > th {
    position: sticky;
    top: -1px;
}

tbody > tr:nth-child(even) {
    background-color: var(--cor01);
}

th {
    background-color: var(--cor01);
}

th, td {
    border: 1px solid black;
    padding: 5px;
}